# Application Release options from build/build.ps1 at ccaa5fbaf (2026-09-06).
# Used only with the old monolithic fpc.cfg. New toolchains own their complete
# product profile in fpc.cfg and include moon-base.cfg from it.
-Mdelphi
-Municodestrings
-MduplicateLocals
-Madvancedrecords
-Marrayoperators
-Munderscoreisseparator
-Mfunctionreferences
-Manonymousfunctions
-Minlinevars
-Mimplicitgenerics
-Mautoderef
-Px86_64
-Rintel
#IFDEF LINUX
-Tlinux
-dPOSIX
#ELSE
-Twin64
#ENDIF
-FNSystem
-UaSystem.SysUtils=SysUtils
-UaSystem.Variants=Variants
-UaSystem.Classes=Classes
-UaSystem.DateUtils=DateUtils
-UaSystem.Math=Math
-UaSystem.Types=Types
-UaSystem.TypInfo=TypInfo
-UaSystem.Rtti=Rtti
-UaSystem.StrUtils=StrUtils
-UaSystem.Character=Character
-UaSystem.SyncObjs=SyncObjs
-UaSystem.Generics.Defaults=Generics.Defaults
-UaSystem.Generics.Collections=Generics.Collections
-UaSystem.IniFiles=IniFiles
-UaSystem.SysConst=SysConst
-UaSystem.RTLConsts=RTLConsts
-dRELEASE
-uDEBUG
-O3
-gl
-gw3
-Ci
-Co-
-Cr-
-Ct-
-Sa-
